

.case_studies {
    border-top: 1px solid #E0D0D0;
    padding-top: 1em;
}

/**
CASE STUDIES
**/


.case_studies .card {
    border-radius: 30px;
    height: max-content;
}
.case_studies  .case-study-large-card {
    height: 300px;
}

.case_studies .case-study-large-card.case-1 {
    background-image: url(./../assets/photos/case_study_1_back.png);
}

.case_studies .case-study-large-card.case-2 {
    background-image: url(./../assets/photos/case_study_2_back.png);
}

.case_studies .case-study-large-card.case-3 {
    background-image: url(./../assets/photos/case_study_3_back.png);
}




.case_studies .case-study-large-card .card-body {
    padding-top: 2em;
    padding-left: 2.5em;
    padding-bottom: 2em;
}



.case_studies .case-study-large-card .card-title {
    border-radius: 17px;
    font-size: 16px;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    margin-bottom: 10em;

}

.case_studies .case-study-large-card .card-body h3 {
    color: #FFFFFF;
    font-size: 28px;
    letter-spacing: 0;
    width: 70%;
    
}

.case_studies .case-study-small-card .card-body {
    padding-top: 2em;
    padding-left: 2.5em;
    padding-bottom: 2em;
}

.case_studies .case-study-small-card .card-title {
    text-transform: uppercase;
    margin-bottom: 6em;
    font-size: 16px;
    letter-spacing: 0.7px;
}

.case_studies .case-study-small-card .card-body h3 {
    font-size: 66px;
    letter-spacing: 0;
    margin-bottom: 0.5em;
}

.case_studies .case-study-small-card .card-body h4 {
    font-size: 26px;
    letter-spacing: 0;
    padding-right: 10px;
}




.case_studies .case-study-large-card.case-1 .card-title {
    background-color: #EDDFD4;

}
.case_studies .case-study-large-card.case-2 .card-title {
    background-color: #DDE8D8;
}

.case_studies .case-study-large-card.case-3 .card-title {
    background-color: #D4E2ED;
}
.case_studies .case-study-small-card.case-1 {
    background-color: #EDDFD4; 
}

.case_studies .case-study-small-card.case-2 {
    background-color: #DDE8D8;
}

.case_studies .case-study-small-card.case-3 {
    background-color: #D4E2ED;
}

