// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #FFF;
$body-color: #111;
$enable-cssgrid: true;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

@font-face {
    font-family: 'Brown Regular';
    src: url(../assets/fonts/Brown-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Brown Regular Alt';
    src: url(../assets/fonts/Brown-RegularAlt.ttf) format('truetype');
}
.logo_text {
    font-family: 'Brown Regular';
}

#FIRST_BACKGROUND {
    background-color: #EDDFD4;
    z-index: -1000;
    top: 15em;
    left: 0;
    width: 100%;
    height: 1245px;
    position: absolute;
}

#HEADER_LINE {
    margin-top: 1.2em;
}

.octobre_row {
    margin-top: 3em;
}

.image_line {
    border-radius: 20px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%;
    width: 94%;
}

#FIRST_IMAGE {
    background-image: url(../assets/photos/autumn-tree-1408307.jpg);
    background-size: 100%;
    //font-size: 34px;
    font-family: 'Brown Regular';
    color: #FFF;
    
}

#SECOND_IMAGE {
    background-image: url(../assets/photos/autumn-tree-1408307.jpg);
    background-size: 100%;
    //font-size: 34px;
    font-family: 'Brown Regular';
    color: #FFF;
    aspect-ratio: 1/1;
    
}

#CASE_STUDY_1 {
    
}

button {
    border-radius: 20px;
    font-size: 1.15em;
    font-family: 'Brown Regular';   
    padding: 0.5em;
    width: 70%;
    border-width: 0;
}

.octobre_black {
    background-color: #1C1C1C;
    color: #FFF;
}

.octobre_light {
    color: #1C1C1C;
    background-color: #FFF;
}

.main_text {
    font-size: 1.8em;
    font-family: 'Brown Regular';
}
.main_text_dark {
    color: #1C1C1C;
    text-align: center;
}

.quefaisons_label {
    font-size: 1.2em;
    font-family: 'Brown Regular';
    color: #5C5148;
    opacity: 75%;
}

.verbatim_parent {
    position: relative;
}
.verbatim {
    font-size: 1.2em;
    position: absolute;
    font-family: 'Brown Regular';
    top: 70%;
    left: 28%;
    width: 65%;
    background-color: #FFF;
    border-radius: 20px;
    padding: 1.5em;
}

.octobre_content_box_white {
    font-family: 'Brown Regular Alt';
    margin-top: 7em;
    margin-bottom: 7em;
    background-color: #fff;
    text-align: center;
}

.octobre_lightgray_title {
    padding: .7em;
    margin-top: 1.5em;
    color: #9A9A9A;
    text-align: center;
    font-size: 1.5em;
}

.octobre_deepdark_desc {
    padding: 1.5em;
    font-size: 1.8em;
    color: #1C1C1C;
    letter-spacing: 0.1em;
}

.octobre_domains_array {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.octobre_domains_array > .col {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 30px;
    background-color: #F4F0EE;
    text-align: center;
    font-family: 'Brown Regular';
    font-style: 1.2em;
    letter-spacing: 0.1em;
}

.octobre_domains_array > .col > .octobre_picto > img {
    max-width: 40%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.case_studies {
    border-top: 1px solid #E0D0D0;
    padding-top: 1em;
}

.case_studies_intro {
    padding-left: 5em;
    padding-right: 5em;
}
.case_studies_blocks {
    --bs-columns: 6;
}

.case_studies_block_large {
    grid-column: auto/span 6;
}
.case_studies_block_small {
    grid-column: auto/span 6;
}

@include media-breakpoint-up(lg) { 
    .case_studies_block_large {
        grid-column: auto/span 8;
    }
    .case_studies_block_small {
        grid-column: auto/span 4;
    }
    .case_studies_blocks {
        --bs-columns: 12;
    }
 }