// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #FFF;
$body-color: #111;
$enable-cssgrid: true;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

@font-face {
    font-family: 'Brown Regular';
    src: url(../assets/fonts/Brown-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Brown Regular Alt';
    src: url(../assets/fonts/Brown-RegularAlt.ttf) format('truetype');
}

body, html {
    overflow-x: hidden;
}
.logo_text {
    font-family: 'Brown Regular';
}

#FIRST_BACKGROUND {
    background-color: #EDDFD4;
    z-index: -1000;
    top: 15em;
    left: 0;
    width: 100%;
    height: 1245px;
    position: absolute;
}

header {
    margin-top: 1.2em;
}

.octobre_row {
    margin-top: 3em;
}

.image_line {
    border-radius: 20px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%;
    width: 94%;
}

#FIRST_IMAGE {
    background-image: url(../assets/photos/autumn-tree-1408307.jpg);
    background-size: 100%;
    //font-size: 34px;
    font-family: 'Brown Regular';
    color: #FFF;
    
}

#SECOND_IMAGE {
    background-image: url(../assets/photos/autumn-tree-1408307.jpg);
    background-size: 100%;
    //font-size: 34px;
    font-family: 'Brown Regular';
    color: #FFF;
    aspect-ratio: 1/1;
    
}

#CASE_STUDY_1 > .case_study_block_large {
    background-image: url(../assets/photos/autumn-tree-1408307.jpg);
    background-size: 100%;
}

#CASE_STUDY_1 > .case_study_block_large > h3 {
    background-color: #EDDFD4;
    color: #000000;
}

#CASE_STUDY_1 > .case_study_block_large > .case_study_description > blockquote {
    color: #FFFFFF;
}

#CASE_STUDY_1 > .case_study_block_small {
    background-color: #EDDFD4;
    color: #000;
    }

#CASE_STUDY_1 > .case_study_block_small > .case_study_title {
    background-color: hsl(26, 41%, 88%);
    color: #000;
}

#CASE_STUDY_1 > .case_study_block_small > .case_study_number {
    background-color: hsl(26, 41%, 88%);
    color: #000;
}

#CASE_STUDY_1 > .case_study_block_small > .case_study_description {
    background-color: hsl(26, 41%, 88%);
    color: #000;
}



// -----------



#CASE_STUDY_2 > .case_study_block_large {
    background-image: url(../assets/photos/case_study_2_back.png);
}

#CASE_STUDY_2 > .case_study_block_large > h3 {
    background-color: #DDE8D8;
    color: #000000;
}

#CASE_STUDY_2 > .case_study_block_large > .case_study_description {
    color: #FFFFFF;
}

#CASE_STUDY_2 > .case_study_block_small {
    background-color: #DDE8D8;
    color: #000;
}



#CASE_STUDY_2 > .case_study_block_small > .case_study_title {
    color: #000;
}


#CASE_STUDY_2 > .case_study_block_small > .case_study_description {
    color: #000;
}

button {
    border-radius: 30px;
    font-size: 1.15em;
    font-family: 'Brown Regular';   
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-width: 0;
    
}

.octobre_black {
    background-color: #1C1C1C;
    color: #FFF;
}

.octobre_light {
    color: #1C1C1C;
    background-color: #FFF;
}

.main_text {
    font-size: 1.8em;
    font-family: 'Brown Regular';
}
.main_text_dark {
    color: #1C1C1C;
    text-align: center;
}

.quefaisons_label {
    font-size: 1.2em;
    font-family: 'Brown Regular';
    color: #5C5148;
    opacity: 75%;
}

.verbatim_parent {
    position: relative;
}
.verbatim {
    font-size: 1.2em;
    position: absolute;
    font-family: 'Brown Regular';
    top: 70%;
    left: 28%;
    width: 65%;
    background-color: #FFF;
    border-radius: 20px;
    padding: 1.5em;
}

.octobre_content_box_white {
    font-family: 'Brown Regular Alt';
    margin-top: 7em;
    margin-bottom: 7em;
    background-color: #fff;
}

.octobre_lightgray_title {
    text-align: center;
    padding: .7em;
    margin-top: 1.5em;
    color: #9A9A9A;
    text-align: center;
    font-size: 1.5em;
}

.octobre_deepdark_desc {
    padding: 1.5em;
    font-size: 1.8em;
    color: #1C1C1C;
    letter-spacing: 0em;
    text-align: center;
}

.octobre_domains_grid {
    text-align: center;
    --bs-columns: 2;
    padding: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.octobre_domains_grid > div {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 0em;
    margin-right: 0em;
    border-radius: 30px;
    background-color: #F4F0EE;
    text-align: center;
    font-family: 'Brown Regular';
    font-style: 1.2em;
    letter-spacing: 0.1em;
}

.octobre_domains_grid > div > .octobre_picto > img {
    max-width: 40%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.partners img {
    margin: 1em;
}


.our-team {
    font-family: 'Brown Regular Alt';
    margin-top: 7em;
    margin-bottom: 7em;
    background-color: #fff;
    display: flex;
    align-items: center;
    background-color: #F4F0EE;
    justify-content: center;
    flex-direction: column;
}

.our-team-title {
    padding: 1.5em;
    font-size: 2.5em;
    color: #1C1C1C;
    letter-spacing: 0em;
    text-align: center;
}

.team-card {
    background-color: #fff;
    border-radius: 30px;
    
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-us .contact-us-title {
    font-family: 'Brown Regular Alt';
    font-size: 2.5em;
    color: #1C1C1C;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1em;
}

.picture {
    margin: 2rem;
    

}

.picture img {
    border-radius: 30px;
    width: 20em;
    height: 20em;

}

.form {
    margin: 2rem;
}

.form input {
    width: 49%;
    height: 3.8em;
    border: 2px solid #CFCFE0;
    border-radius: 13px;
    background-color: #FCFCFC;
    margin-bottom: 1em;
    padding-left: 0.5em;
    font-family: 'Brown Regular Alt';
    font-size: 14px;

}

.form textarea,input::placeholder {
    font-family: 'Brown Regular Alt';
    color: #768295;
    letter-spacing: 0;
    margin-bottom: 1em;
}

.form #entreprise {
    width: 100%;
}

.form textarea {
    border: 2px solid #CFCFE0;
    border-radius: 13px;
    background-color: #FCFCFC;
    resize: none;
    width: 100%;
    height: 10em;
    padding: 1em;
    font-size: 14px;
}

.form button {
    width: 100%;
    background-color: black;
    color: white;
}

.footer  {
    border-top: 1px solid #E0D0D0;
    padding-top: 4em;
    font-family: 'Brown Regular Alt';
    margin-bottom: 3em;
}

.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer .footer-menu {
    margin-top: 2em;
    font-size: 16px;
    color: #768295;
    text-align: left;
    
}

.footer-menu .menu-1 {
    width: 40%;
}
.footer-menu .menu-2 {
    width: 40%;
}

.footer .transformation {
    display: flex;
    margin-top: 2em;
}

.footer .transformation img {
    width: 10em;
}

.footer .transformation p {
    color: #768295;
    font-size: 14px;
    width: 49%;

}

.footer .button-mail {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.footer .button-mail button {
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #CFCFE0;
    border-radius: 24px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer .button-mail span {
    padding: 1em;
}

.footer .rights  {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.footer .rights p {
    text-align: center;
    color: #768295;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;

}
@include media-breakpoint-up(lg) {
    .octobre_domains_grid {
        --bs-columns: 4;
    }
    .contact-us {
        display: flex;
    }
    
    .picture {
        flex: 1; /* Permet au conteneur de prendre autant d'espace que possible */
        margin-right: 20px; /* Espace entre les deux divs */
    }
    
    .form {
        flex: 1; /* Permet au conteneur de prendre autant d'espace que possible */
    }

    .contact-us .picture img {
        width: 30em;
        height: 30em;
    }

    .contact-us .form input::placeholder {
        font-size: 16px;
    }

    .footer .logo {
        display: block;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: normal;
        align-items: normal;
    }
    
    .footer-container .transformation {
        order: -1;
    }

    .footer-container .footer-menu {
        margin-left: 400px;

    }

    .footer .text-partenaire {
        flex: none;
        order: -1;
    }

    .footer .mail-rights {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer .mail-rights .rights {
        order: -1;
        padding-top: 0.8em;
        margin-left: 6em;
    }

    .footer .mail-rights .button-mail button {
        padding: 1em;
        height: min-content;
    }

    .footer .mail-rights .button-mail span {
        padding-left: 0.5em;
    }
}

@import "./case_studies.scss";

@include media-breakpoint-up(md) { 

    .expertise {
        background-color: #F4F0EE;
        border-radius: 30px;
        display: block !important;
    }
     .card img {
        width: 63px;
        display: block;
        margin-left: auto !important;
        margin-right: auto;
        padding-top: 5em;  
     }
    
     .card .card-body {
        display: flex;
        justify-content: center;
     }
    
     .card .card-body p {
        width: 70%;
        margin-top: 3em !important;
        margin-bottom: 3em !important;
        font-size: 16px !important;
        text-align: center !important;
        margin-left: 0px !important;
     }
    
     .card .card-body #break {
        width: 60%;
     }
    
     .button_row {
        margin-top: 1em;
        margin-bottom: 3em;
     }

 }



 /**




 **/

 .octobre_content_box_white {
    font-family: 'Brown Regular Alt';
    margin-top: 7em;
    margin-bottom: 3em;
    background-color: #fff;
}



.expertise {
    background-color: #F4F0EE;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px
}
 .card img {
    width: 50px;
    margin-left: 20px;

 }

 .card .card-body {
    display: flex;
 }

 .card .card-body p {
    width: 70%;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
 }


 .button_row {
    margin-top: 1em;
    margin-bottom: 3em;
 }




