
.first_section {
    font-family: 'Brown Regular Alt';
}

.first_section .quefaisons_label {
    font-size: 1.2em;
    font-family: 'Brown Regular';
    color: #5C5148;
    opacity: 75%;
}

.first_section .split {
    margin-top: 2.5em;
    background: linear-gradient(
        to top,
        #F4F0EE 0%,
        #F4F0EE 50%,
        white 50%,
        white 100%
    );
}

.first_section .image-back {
    background-image: url(./../assets/photos/first_back.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 30px;
}

.first_section .image-back .text-over {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
}

.first_section .image-back .text-over p {
    font-size: 2.5em;
    color: #fff;
    max-width: 70%;
    text-align: center;
    letter-spacing: -1.01px;
    margin-top: 1em;
}

.first_section .split span {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: -0.5rem;
      right: -0.5rem;
      height: 0.75rem;
      background-image: url(./../assets/decorations/ligne-header.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
.first_section .image-back .text-over img {
    width: 30px;
    padding-top: 7em;
}
