
.first_section {
    font-family: 'Brown Regular Alt';
}

.first_section .quefaisons_label {
    font-size: 1.2em;
    font-family: 'Brown Regular';
    color: #5C5148;
    opacity: 75%;
}

.first_section .split {
    margin-top: 2.5em;
    background: linear-gradient(
        to top,
        #EDDFD4 0%,
        #EDDFD4 50%,
        white 50%,
        white 100%
    );
}

.first_section .image-back {
    background-image: url(./../assets/photos/first_back.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 30px;
}

.first_section .image-back .text-over {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first_section .image-back .text-over p {
    font-size: 2.5em;
    color: #fff;
    max-width: 70%;
    text-align: center;
}

.first_section .image-back .text-over img {
    width: 30px;
    padding-top: 7em;
}


.first_section .about-us {
    background-color: #EDDFD4;

}
.first_section .about-us h5 {
    text-align: center;
    padding-top: 4em;

}

.first_section .about-us h3 {

    color: #1C1C1C;
    font-size: 2em;
    letter-spacing: 0;
    text-align: center;
    padding-top: 1em;
}

.first_section .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_section .buttons button {
    margin: 1em;
    margin-top: 2em;
    max-width: 200px; /* ou toute autre valeur en pixels */
    width: 100%;
}

.first_section .buttons #contact-button {
    background-color: #1C1C1C;
    color: #fff;
}

.first_section .about-us2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding-bottom: 7em;
}


.first_section .about-us2 .main_use_case {
    border-radius: 30px;
    margin: 0 10%; /* Adjust the margin values as needed */
    max-width: 80%; /* Adjust the max-width as needed */
    background-image: url(../assets/photos/first_back.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDDFD4;
}

.first_section .about-us2 .main_use_case > div {
    width: 100%;
}

.first_section .about-us2 img {
    
    width: 100%;
    height: auto;
}