.domaine-expertise a {
   color: #686868;
   font-size: 18px;
   letter-spacing: 0;
   text-decoration: none;
   pointer-events: none;

}

.expertiseDetailsOverrive {
   position: fixed;
   height: 100vh;
   width: 100%;
   top: 0;
   left: 0;
   background-color: rgba(104, 104, 104, 0.5);
}

.expertiseDetails {
   position: relative;
   opacity: 100%;
   border: 5px solid #F4F0EE;
   background-color: #F4F0EE;
   top: 10em;
   border-radius: 30px;
}
.expertiseDetails .closeExpertiseButton {
   stroke: #686868;
   width: 2em;
   height: 2em;
   cursor: pointer;
}
.expertiseDetails .expertiseTopBar {
   display: flex;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
   // flex-direction: row-reverse;
}
.expertiseDetails .expertiseTopBar > .expertiseDetailsTitle {
   display: inline-flex;
   padding-left: 1em;
   padding-top: 0.2em;
   font-weight: bolder;
   // flex: content;
   // flex-direction: row-reverse;
}
.expertiseDetails .expertiseTopBar > .expertiseCloseButton {
    display: inline-flex;
    align-content: center;
    padding-right: 0.5em;
    flex-wrap: wrap;
    float: right;
}

.expertiseDetails .expertiseDetailContent {
   border-radius: 30px;
   background-color: white;
   text-align: justify;
   padding: 0;
   margin: 0.2em;
}

.expertise-presentation .expertise {
    background-color: #F4F0EE;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px
}

.expertise-presentation .card.expertise {
   background-color: white;
   cursor: zoom-in;
}
.expertise-presentation .card img {
    width: 50px;
    margin-left: 20px;
 }
 .expertise-presentation .card .card-img-top {
   width: 50px;
 }
 .expertise-presentation .card .card-img-top > svg {
   width: 100%;
   padding-bottom: 92%;
   height: 1px;
   overflow: visible
 }

 .expertise-presentation .card .card-body {
    display: flex;
 }

 .expertise-presentation .card .card-body p {
    width: 70%;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
 }


 .button_row {
    margin-top: 1em;
    margin-bottom: 3em;
 }

 @include media-breakpoint-up(md) { 
   .expertise-presentation .card .card-img-top {
      padding-top: 3em;
      width: 100px;
    }
    .expertise-presentation .expertise {
        background-color: #F4F0EE;
        border-radius: 30px;
        display: block !important;
    }
    .expertise-presentation .card img {
        width: 63px;
        display: block;
        margin-left: auto !important;
        margin-right: auto;
        padding-top: 5em;  
     }
    
     .expertise-presentation .card .card-body {
        display: flex;
        justify-content: center;
     }
    
     .expertise-presentation .card .card-body p {
        width: 70%;
        margin-top: 3em !important;
        margin-bottom: 3em !important;
        font-size: 16px !important;
        text-align: center !important;
        margin-left: 0px !important;
     }
    
     .expertise-presentation .card .card-body #break {
        width: 60%;
     }
    
     .button_row {
        margin-top: 1em;
        margin-bottom: 3em;
     }
     .expertiseDetails {
         width: 700px;
         margin: auto;
      }
      .expertiseDetails .expertiseDetailContent {
         margin: 0.7em;
      }
 }


