.navbar .desktop-logo-text {
    color: #686868;
    font-size: 13px;
    letter-spacing: 0;
    font-family: 'Brown Regular';
    width: 50%;
    border-left: 1px solid #6B6B6B;
    padding-left: 1em;
    width: fit-content;
    max-width: 250px;
    display: none;
}

.navbar .logo svg {
    width: 140px !important;
}


.navbar .nav-item {
    color: #1C1C1C;
    font-size: 15px;
    font-family: 'Brown Regular';
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
    padding: 1.5em !important;
}

.navbar .nav-link {
    color: #1C1C1C;
}

.navbar .desktop-rdv-button {
    width: max-content;
    background-color: #1C1C1C;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    display: none;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar .navbar-toggler {
    border: 0px;
    order: -1;
}

.navar .navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


 .mobile-logo-text {
    color: #686868;
    font-size: 13px;
    letter-spacing: 0;
    font-family: 'Brown Regular';
    text-align: center;
}

@include media-breakpoint-up(lg) {

    .mobile-logo-text {
        display: none !important;
    }

    .navbar .desktop-logo-text {
        display: inline-block !important;
    }

    .mobile-rdv-button {
        display: none !important;
    }

    .desktop-rdv-button {
        display: none !important;
    }
}

.mobile-rdv-button {
    display: none !important;
}

